.acomodacoes{
    width: 95%;
    max-width: 690px;

    margin: 20px auto;
}

.acomodacao{
    width: 100%;
    min-height: 230px;

    border: 1px solid #aaa;
    border-radius: 25px;

    margin: 30px 0;
    padding: 5px;

    background: rgb(242, 242, 242);
}

.acomodacao h3{
    text-align: center;
    text-transform: uppercase;

    margin: 10px 0;
}

.acomodacao .foto{
    float: left;
}

.acomodacao .foto img{
    width: 200px;
    height: 159px;

    margin-right: 10px;
    border-radius: 15px;
}

.acomodacao .descricao{
    text-align: right;
}

.acomodacao .descricao p{
    margin: 10px 0;

    text-align: justify;
    line-height: 20px;
    color: #222;
}

.acomodacao .descricao ul{
    width: 69%;

    display: inline-block;
    text-align: left;
}

.acomodacao .descricao ul li{
    display: inline-block;
}

.acomodacao .descricao .fa-check{
    color: green;
    margin-right: 5px;
}

@media(max-width: 330.9px){

    .acomodacao .foto{
        width: 90%;
        margin-right: 0;
    }
    .acomodacao .foto img{
        width: 100%;
        margin-right: 0;
        margin-left: 10px;
    }

}
