.galerias{
  max-width: 690px;
  margin: 25px auto;
  text-align: center;
}

.galerias h2{
  background: #10ac84;
}

.galerias .capas{
  padding: 40px 0 0 0;
}

.galerias .capa{
  display: inline-block;
  margin: 13px;
  cursor: pointer;
}

.galerias .capa:hover > img{
    opacity: 0.7;
    transition: 400ms;
}

.galerias .capa img{
  width: 200px;
}

#modal{
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(0, 0, 0, 0.7);
}

#modal img{
    display: block;
    margin: 0 auto;

    max-width: 95vw;
}

#modal #modal-controlls{
    width: 95vw;
    max-width: 690px;
    margin: 0 auto;

    color: #fff;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-between;

    font-size: 30px;
}

#next , #prev , #close{
    margin: 0 10px;
    cursor: pointer;
}


@media(max-width:736px){
  .galerias .capa{
    width: 31%;
    margin: 2px;
  }
  .galerias .capa img{
    width: 100%;
  }
}
