:root {
    --green: #10AC84;
    --green-dark: #053327;
    --orange: #FF9137;
    --white: #FBFBFB;
    --black: #121212;
}

* { font-size: 100%; font-family: 'Open Sans', sans-serif; box-sizing: border-box; border: none; outline: none; }

input, textarea { border: 1px solid #ccc; }

body{ background: var(--white); color: var(--black) }

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.container-sm {
    width: 100%;
    margin: 0 auto;
    max-width: 690px;
}

.title-separator {
    width: 100%;
    border-bottom: 2px solid var(--green);
}

.title-separator h2 {
    font-size: 16pt;
    padding: 5px 10px;
    width: fit-content;
    color: var(--white);
    background: var(--green);
    border-radius: 5px 5px 0 0;
}

.alert {
    width: 100%;
    padding: 20px;
    display: flex;
    color: #004085;
    text-align: center;
    align-items: center;
    background: #d1ecf1;
    justify-content: center;
    border: 1px solid #bee5eb;
}

.alert span {
    font-size: 170%;
    margin: 0 5px;
}

.more {
    padding: 5px 8px;
    border-radius: 5px 0;
    color: var(--white);
    transition: 0.6s all;
    margin: 10px 15px 0 0;
    background: var(--green);
}

.more:hover {
    cursor: pointer;
    border-radius: 0;
    color: var(--white);
}

.dn {
    display: none !important;
}

a:hover{ color: var(--green); }
a { color: inherit; text-decoration: none; }

::-webkit-scrollbar{ width: 8px; }
::-webkit-scrollbar-thumb{ background: var(--green); border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3); }
::-webkit-scrollbar-track{ background: #ddd; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul, ol {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
