#about {
    margin: 30px auto;
}


/* ==================== ABOUT HEADER ==================== */


#about-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

#about-header #left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-header .line {
    height: 60px;
    border-left: 5px solid var(--green);
}

#about-header #titles {
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    justify-content: space-around;
}

#about-header #titles h2 {
    font-size: 18pt;
    margin-bottom: 10px;
}

#about-header #titles p {
    color: #888;
}

#about-header .green-box {
    padding: 13px;
    border-radius: 5px;
    text-align: center;
    color: var(--white);
    font-weight: normal;
    background: var(--green);
}


/* ==================== ABOUT CONTENT ==================== */


#about-content #village-img {
    width: 100%;
    border-radius: 10px;
}

#about-content p {
    color: #111;
    font-size: 20px;
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
}

@media(max-width: 720px) {
    #about {
        max-width: 95%;
        margin: inherit auto;
    }
}

@media(max-width: 373.9px) {
    #about-header .green-box {
        font-size: 11pt;
        padding: 20px 5px;
    }
}

@media(max-width: 352.9px) {
    #about-header #titles p {
        font-size: 10pt;
    }
}


/* ==================== GALLERY ==================== */


#gallery {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-end;
    flex-direction: column;
}

@media(max-width: 690px) {
    #gallery {
        padding: 0 10px;
    }
}


/* ==================== GALLERY CONTENT ==================== */


#gallery-content {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

#gallery-content a {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gallery-content a img {
    width: 100%;
    border-radius: 5px;
}

#gallery-content a h3 {
    margin-top: 10px;
}
