#white-nav {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    min-height: 100px;
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
    background: var(--white);
    justify-content: space-between;
}

#white-nav #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#white-nav #mobile-menu #logo img {
    width: 120px;
}

#white-nav #mobile-menu #toggle-menu {
    opacity: 0;
}

#white-nav #mobile-menu #toggle-menu .fa-bars {
    font-size: 40px;
    color: var(--greendark);
}

#white-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#white-nav ul li {
    margin: 0 20px;
    color: var(--green);
}

#white-nav ul li:hover > a {
    cursor: pointer;
    color: var(--green);
}

#white-nav ul li a {
    color: var(--black);
}


/* =========================== GREEN NAV ========================== */


#green-nav {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 65px;
    transition: 0.5s;
    justify-content: center;
    background: var(--green);
}

#green-nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#green-nav ul li a {
    height: 100%;
    font-size: 12pt;
    padding: 23.5px 15px;
    color: var(--white);
    text-transform: uppercase;
    transition: ease-out 0.3s;
}

#green-nav ul li a:hover {
    color: var(--orange);
    background: #FFFFFF30;
    border-bottom: 1px solid var(--orange);
}

@media(max-width: 726.9px) {

    header.inative > #white-nav ul,
    header.inative > #green-nav
    {
        display: none;
    }

    #white-nav {
        flex-direction: row;
    }

    #white-nav #mobile-menu {
        width: 100%;
    }

    #white-nav #mobile-menu #toggle-menu {
        opacity: 1;
    }

    #white-nav ul {
        width: 100%;
        margin-top: 25px;
        flex-direction: row;
        justify-content: center;
    }

    #white-nav ul li {
        margin: 10px;
    }

    #white-nav ul li a {
        padding: 0;
    }


/* =========================== GREEN NAV ========================== */


    #green-nav ul {
        flex-direction: column;
    }

    #green-nav ul li {
        margin: 15px 0;
    }

    #green-nav ul li a {
        padding: 0;
    }

}

@media(max-width: 470.9px) {
    #white-nav ul {
        flex-direction: column;
    }
}
