#prices-content {
    color: #333;
    margin: 0 auto;
    font-size: 20px;
    width: fit-content;
    text-align: center;
}

#prices-content h3 {
    font-size: 30px;
    margin: 25px auto;
}

#prices-content p {
    margin: 15px 0;
}

#prices-content ul li {
    line-height: 1.5;
}

@media(max-width: 380.9px) {
    #prices-content {
        font-size: 15px;
    }

    #prices-content h3 {
        font-size: 23px;
    }
}


/* =================== RESERVATIONS =================== */


#prices, #reservations {
    margin: 40px auto;
}

#reservations .title-separator {
    margin: 20px 0;
}

#reservations .alert {
    display: flex;
    margin: 10px 0;
    padding: 20px 3px;
    flex-wrap: wrap;
}

@media(max-width: 478px) {
    #reservations .alert {
        font-size: 14px;
    }
}

#reservations .alert a {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

#reservations .alert a:hover {
    color: #000000;
}

@media(max-width: 726.9px) {
    #reservations, #prices {
        padding: 0 10px;
    }
}


/* ================== INPUT BLOCK ================== */


.input-block {
    width: 100%;
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.input-block label {
    display: flex;
    color: #004085;
    margin-bottom: 10px;
    align-items: center;
}

.input-block label img {
    margin-right: 5px;
}

.input-block input,
.input-block textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#send {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    width: 50%;
    cursor: pointer;
    background: none;
    transition: 800ms;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bolder;
    border: 1px solid #004085;
}

input[type="submit"]:hover {
    color: var(--white);
    background: #004085;
}
